form{
    justify-content: space-around;
    padding: 5px 20px 5px 20px;
    width: 610px;
    background-color: plum;
    border-radius: 20px;
}
form button{
    display: flex;
    margin: auto;
    border-radius: 5px;
    font-size: 18px;
}
button:hover{
    background-color: black;
    color: white;
}
.principal1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    font-size:30px ;
}
.form-group2{
    padding: 10px;
}